node-red/flows.json
[{"id":"86a4d54.bf68528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98a9214a.62958","type":"tab","label":"ParkingLot","disabled":true,"info":""},{"id":"437908d0.d1c828","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"a494f0a7.6f383","type":"mqtt-broker","z":"","name":"ha MQTT","broker":"ha.widgetninja.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e3d8b6b2.ffd858","type":"mqtt-broker","z":"","name":"thingsBoardBeeBeeLakeTemp","broker":"thingsboard.northcentralus.cloudapp.azure.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad4e812b.b4706","type":"comment","z":"86a4d54.bf68528","name":"Aidan room off at 11","info":"","x":110,"y":260,"wires":[]},{"id":"a8fa45a2.7008b8","type":"inject","z":"86a4d54.bf68528","name":"11:00pm","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["76e94fbe.34ce6","19f5ba74.fb21a6"]]},{"id":"76e94fbe.34ce6","type":"api-call-service","z":"86a4d54.bf68528","name":"Aidan Wall Off","server":"437908d0.d1c828","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\" : \"switch.zooz_zen07_mini_plug_switch\" }","mergecontext":"","x":360,"y":320,"wires":[[]]},{"id":"1cf4a6a8.521c79","type":"comment","z":"86a4d54.bf68528","name":"Lake Pump AutoOff","info":"","x":110,"y":420,"wires":[]},{"id":"817f9af5.589c78","type":"server-state-changed","z":"86a4d54.bf68528","name":"Lake Pump Status","server":"437908d0.d1c828","entityidfilter":"switch.wemo1","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":110,"y":460,"wires":[["faa8ff20.3fc33"]]},{"id":"faa8ff20.3fc33","type":"switch","z":"86a4d54.bf68528","name":"on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":460,"wires":[["2aaa144d.c2efbc"],["b6a7768e.e36618"]]},{"id":"f34c83db.f7d95","type":"stoptimer","z":"86a4d54.bf68528","duration":"90","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":760,"y":420,"wires":[["858f43a5.ed673"],[]]},{"id":"858f43a5.ed673","type":"api-call-service","z":"86a4d54.bf68528","name":"Lake Pump Off","server":"437908d0.d1c828","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wemo1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":960,"y":460,"wires":[[]]},{"id":"b6a7768e.e36618","type":"time-range-switch","z":"86a4d54.bf68528","name":"Day/Night","lat":"45.222306","lon":"-93.728376","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":580,"y":460,"wires":[["f34c83db.f7d95"],["858f43a5.ed673"]]},{"id":"fe072df1.2da36","type":"comment","z":"86a4d54.bf68528","name":"Kitchen light with Garage Door at Night","info":"","x":170,"y":600,"wires":[]},{"id":"fbd05646.d34598","type":"server-state-changed","z":"86a4d54.bf68528","name":"Garage Door 1 Status","server":"437908d0.d1c828","entityidfilter":"binary_sensor.garage_door_one","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":120,"y":660,"wires":[["90a5589b.8467e8"]]},{"id":"1576207.2bb65e","type":"server-state-changed","z":"86a4d54.bf68528","name":"Garage Door 2 Status","server":"437908d0.d1c828","entityidfilter":"binary_sensor.garage_door_two","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":120,"y":700,"wires":[["90a5589b.8467e8"]]},{"id":"e29a29dd.a1e008","type":"api-call-service","z":"86a4d54.bf68528","name":"Kitchen Lights On","server":"437908d0.d1c828","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\" : \"switch.switch_5\" }","mergecontext":"","x":610,"y":680,"wires":[[]]},{"id":"db5ad824.aa1998","type":"api-call-service","z":"86a4d54.bf68528","name":"Send Text","server":"437908d0.d1c828","service_domain":"notify","service":"twilio","data":"{ \"message\" : \"Garage Door Open\", \"target\" : \"16512692736\"}","mergecontext":"","x":1120,"y":860,"wires":[[]]},{"id":"c78726b4.bca5f8","type":"time-range-switch","z":"86a4d54.bf68528","name":"Day/Night","lat":"45.222306","lon":"-93.728376","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":920,"y":860,"wires":[[],["db5ad824.aa1998"]]},{"id":"fe34d6a2.f57ea8","type":"stoptimer","z":"86a4d54.bf68528","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":720,"y":860,"wires":[["c78726b4.bca5f8"],[]]},{"id":"d6219e10.334bd","type":"change","z":"86a4d54.bf68528","name":"Stop if Closed","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":920,"wires":[["fe34d6a2.f57ea8"]]},{"id":"688417a9.88d878","type":"switch","z":"86a4d54.bf68528","name":"open?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":860,"wires":[["fe34d6a2.f57ea8"],["d6219e10.334bd"]]},{"id":"92de8b4b.827218","type":"server-state-changed","z":"86a4d54.bf68528","name":"Garage Door 1 Status","server":"437908d0.d1c828","entityidfilter":"binary_sensor.garage_door_one","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":120,"y":860,"wires":[["688417a9.88d878"]]},{"id":"87cd4239.a1e3b","type":"comment","z":"86a4d54.bf68528","name":"Garage door open after dark","info":"","x":140,"y":800,"wires":[]},{"id":"5f39da50.96a054","type":"inject","z":"86a4d54.bf68528","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":940,"wires":[["688417a9.88d878"]]},{"id":"32f99395.c0ce7c","type":"inject","z":"86a4d54.bf68528","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1000,"wires":[["688417a9.88d878"]]},{"id":"90a5589b.8467e8","type":"time-range-switch","z":"86a4d54.bf68528","name":"Day/Night","lat":"45.222306","lon":"-93.728376","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":360,"y":680,"wires":[[],["e29a29dd.a1e008"]]},{"id":"b7f0cbe8.5b4728","type":"comment","z":"86a4d54.bf68528","name":"Water Grass Seed","info":"","x":110,"y":1060,"wires":[]},{"id":"700d34c6.2201fc","type":"inject","z":"86a4d54.bf68528","name":"8:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"x":110,"y":1120,"wires":[[]]},{"id":"a8a2a9d6.bafe58","type":"inject","z":"86a4d54.bf68528","name":"11:30","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 11 * * *","once":false,"onceDelay":0.1,"x":120,"y":1180,"wires":[[]]},{"id":"9948328e.3e4db","type":"api-call-service","z":"86a4d54.bf68528","name":"Lake Pump ON","server":"437908d0.d1c828","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wemo1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":360,"y":1180,"wires":[["f7517ba7.601528"]]},{"id":"f7517ba7.601528","type":"stoptimer","z":"86a4d54.bf68528","duration":"7","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":560,"y":1180,"wires":[["e355a92e.dc6658"],[]]},{"id":"379ff06.9f2b81","type":"api-call-service","z":"86a4d54.bf68528","name":"Lake Pump Off","server":"437908d0.d1c828","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wemo1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1120,"y":1180,"wires":[[]]},{"id":"28cedf52.8d08f","type":"inject","z":"86a4d54.bf68528","name":"15:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 15 * * *","once":false,"onceDelay":0.1,"x":120,"y":1240,"wires":[[]]},{"id":"adedd7d5.b31c18","type":"inject","z":"86a4d54.bf68528","name":"18:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"x":120,"y":1300,"wires":[[]]},{"id":"2aaa144d.c2efbc","type":"change","z":"86a4d54.bf68528","name":"Stop timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":420,"wires":[["f34c83db.f7d95"]]},{"id":"665fdb7d.0720c4","type":"inject","z":"86a4d54.bf68528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1360,"wires":[["9948328e.3e4db"]]},{"id":"e355a92e.dc6658","type":"change","z":"86a4d54.bf68528","name":"Convert to Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1180,"wires":[["379ff06.9f2b81","b84ff183.b8ed5"]]},{"id":"b84ff183.b8ed5","type":"stoptimer","z":"86a4d54.bf68528","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":960,"y":1100,"wires":[["379ff06.9f2b81"],[]]},{"id":"3db09d1e.e33102","type":"comment","z":"98a9214a.62958","name":"Push lake temp to Thingsboard","info":"https://flows.nodered.org/node/node-red-contrib-azure-iot-hub","x":150,"y":40,"wires":[]},{"id":"710585b0.e038cc","type":"function","z":"98a9214a.62958","name":"Craft message for IoTHub ","func":"msg.payload = '{\"temperature\":'+msg.payload+'}';\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["91500a86.300f68"]]},{"id":"ebca4b6c.3bbd88","type":"comment","z":"86a4d54.bf68528","name":"Amy Heater","info":"","x":90,"y":1420,"wires":[]},{"id":"416214b5.afd25c","type":"server-state-changed","z":"86a4d54.bf68528","name":"Amy Heater","server":"437908d0.d1c828","entityidfilter":"switch.wemo2","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":90,"y":1460,"wires":[["9b915da2.362f1"]]},{"id":"9b915da2.362f1","type":"switch","z":"86a4d54.bf68528","name":"on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1460,"wires":[["4a3d291.864ead8"],["82d39707.3dfd98"]]},{"id":"82d39707.3dfd98","type":"stoptimer","z":"86a4d54.bf68528","duration":"8","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":690,"y":1460,"wires":[["b6394f29.bf0e9"],[]]},{"id":"b6394f29.bf0e9","type":"api-call-service","z":"86a4d54.bf68528","name":"Heater Off","server":"437908d0.d1c828","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\" : \"switch.wemo2\" }","mergecontext":"","x":950,"y":1460,"wires":[[]]},{"id":"4a3d291.864ead8","type":"change","z":"86a4d54.bf68528","name":"Stop timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1420,"wires":[["82d39707.3dfd98"]]},{"id":"91500a86.300f68","type":"debug","z":"98a9214a.62958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":160,"wires":[]},{"id":"479c5a4f.efd994","type":"inject","z":"86a4d54.bf68528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":1540,"wires":[["82d39707.3dfd98"]]},{"id":"8c099646.3d6058","type":"api-call-service","z":"86a4d54.bf68528","name":"Porch Light On","server":"437908d0.d1c828","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.level\" }","mergecontext":"","x":320,"y":1660,"wires":[["55f10940.bf1cd8"]]},{"id":"55f10940.bf1cd8","type":"stoptimer","z":"86a4d54.bf68528","duration":"6","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":510,"y":1660,"wires":[["e40f5f49.48368"],[]]},{"id":"e40f5f49.48368","type":"change","z":"86a4d54.bf68528","name":"Convert to Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1660,"wires":[["e80ca199.849f2","1900a08.d0a676"]]},{"id":"e80ca199.849f2","type":"stoptimer","z":"86a4d54.bf68528","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":920,"y":1580,"wires":[["7a1025d5.e9026c"],[]]},{"id":"5e300c86.ce9074","type":"sunrise","z":"86a4d54.bf68528","name":"Sunset","lat":"45.4262","lon":"-94.1198","start":"sunrise","end":"sunset","x":90,"y":1660,"wires":[[],["a35791d1.c9217"]]},{"id":"a35791d1.c9217","type":"switch","z":"86a4d54.bf68528","name":"Night?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1600,"wires":[[],["8c099646.3d6058"]]},{"id":"7a1025d5.e9026c","type":"change","z":"86a4d54.bf68528","name":"Convert to Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1580,"wires":[["1900a08.d0a676"]]},{"id":"1900a08.d0a676","type":"api-call-service","z":"86a4d54.bf68528","name":"Porch Light Off","server":"437908d0.d1c828","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.level\" }","mergecontext":"","x":1360,"y":1660,"wires":[[]]},{"id":"a0ea7a4d.698758","type":"comment","z":"86a4d54.bf68528","name":"Porch Light","info":"","x":90,"y":1560,"wires":[]},{"id":"19f5ba74.fb21a6","type":"api-call-service","z":"86a4d54.bf68528","name":"Aidan Lamp off","server":"437908d0.d1c828","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wemo4\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":360,"y":360,"wires":[[]]},{"id":"978e288c.255438","type":"comment","z":"86a4d54.bf68528","name":"Aidan Lamp on near Sunset","info":"","x":140,"y":120,"wires":[]},{"id":"622bc2e.cd0e93c","type":"api-call-service","z":"86a4d54.bf68528","name":"Aidan Lamp on","server":"437908d0.d1c828","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wemo4\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":180,"wires":[[]]},{"id":"ac19863c.41ca48","type":"sunrise","z":"86a4d54.bf68528","name":"Sunset","lat":"45.4262","lon":"-94.1198","start":"sunrise","end":"sunset","x":70,"y":180,"wires":[[],["4a54233b.b5fdfc"]]},{"id":"4a54233b.b5fdfc","type":"switch","z":"86a4d54.bf68528","name":"Night?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":180,"wires":[[],["622bc2e.cd0e93c"]]}]